.Msection3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}
.part1{
    text-align: center;
    margin-top: 35px;
}
.part1 span{
    border: 2px solid rgba(0, 0, 0, 1);
border-radius: 8px;
padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
background: rgba(255, 255, 255, 1);
}
.part1 p{
font-weight: 500;
font-size: 20px;
line-height: 30px;
width:1380px;
}
.Msection3box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 1592px;
}
.Msection3boxes{
gap: 30px;
border-radius: 12px;
padding: 50px;
background: rgba(255, 255, 255, 1);
border: 2px solid rgba(38, 38, 38, 1);
box-shadow: 6px 6px 0px 2px rgba(30, 30, 30, 1);
}
.btn{
    display: flex;
    justify-content: center;
    width: 613px;
    height: 66px;
    gap: 10px;
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: rgba(255, 222, 204, 1);
    border: 2px solid rgba(38, 38, 38, 1);
    box-shadow: 4px 4px 0px 2px rgba(30, 30, 30, 1);
}