.Titlebar{
    display: flex;
    align-items: center;
    justify-content: center;


width: 1819px;
height: 58px;
border-radius: 8px;
border:solid 2px black;
margin-top: 20px;
margin-bottom: 20px;
gap: 14px;
margin-left: 20px;

}